@font-face {

    font-family:myfont;
    src:url('font/GE_SS_Tow_Bold.otf')
}


body {
    
    font-family:myfont;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding:0px;
    margin:0px;
}

@media screen and (min-width: 768px){
.jumbotron {
        padding-top: 0px; 
        padding-bottom: 0px; 
        margin-bottom:30px
        
        

    }
}

.jumbotron {
    padding: 0px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    text-align:center;
}

#searchName {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    background-image: url('../images/icons8-search-24.png');
    background-position:5px 5px;
    transition: width 0.4s ease-in-out;
    background-repeat: no-repeat;
    text-align:center;
    margin-top: 5px;
    padding: 8px 0px 8px 10px;
}
#searchName:focus {
        width:100%;
    }
.img-size {
    font-size:90px;
}

.navbar-user {
    padding:10px;
    padding-bottom:0px;
    width:350px;
}

@media (min-width:992px) {
    .col-md-3 {
        width:23% !important;
    }
}




/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
